ip = 192.168.1.35
backUpDirectory = C:/folderToBackUp1/ && C:/folderToBackUp2/
piBackUpDirectory = BackUp/folderToBackUp1/ && BackUp/folderToBackUp2/
piDeleteDirectory = BackUp/deleted/
excludeDirectorys = C:/folderToBackUp1/NothingSuspicius
excludeFiles = C:/folderToBackUp1/Pictures/MyLittleDuck.jpg
realTimeUpdates = False
